<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Headlines</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Headlines -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>Buffalo police officers seen shoving elderly protester have charges dropped</h2>
                        <h3>Fox News - 12/02/2021</h3>
                        <a href=https://www.foxnews.com/us/buffalo-police-officers-seen-shoving-elderly-protester-have-charges-dropped target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Illinois COVID Update Today: IL reports 2,838 new coronavirus cases, 102 deaths; South African variant confirmed in state by IDPH</h2>
                        <h3>WLS-TV - 12/02/2021</h3>
                        <a href=https://abc7chicago.com/illinois-covid-cases-vaccine-phase-1b-expansion/10330233 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Videos Turn Eugene Goodman Into a Reluctant Hero in the Capitol Attack - The New York Times</h2>
                        <h3>New York Times - 12/02/2021</h3>
                        <a href=https://www.nytimes.com/2021/02/11/us/politics/eugene-goodman-capitol-riot.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>There Are Now 95 Million Disney+ Subscribers (Hey, That's a Lot!)</h2>
                        <h3>/FILM - 12/02/2021</h3>
                        <a href=https://www.slashfilm.com/disney-subscribers/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Former Lincoln Project Staff Ask to Be Released From Nondisclosure Agreements - The New York Times</h2>
                        <h3>New York Times - 12/02/2021</h3>
                        <a href=https://www.nytimes.com/2021/02/11/us/politics/lincoln-project-john-weaver.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>'Stop killing us': Attacks on Asian Americans highlight rise in hate incidents amid COVID-19 - USA TODAY</h2>
                        <h3>USA Today - 12/02/2021</h3>
                        <a href=https://www.usatoday.com/story/news/nation/2021/02/12/asian-hate-incidents-covid-19-lunar-new-year/4447037001/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Valparaiso alumni react to retiring of Crusader mascot: 'What's the problem with changing it?' - The Times of Northwest Indiana</h2>
                        <h3>nwitimes.com - 12/02/2021</h3>
                        <a href=https://www.nwitimes.com/sports/college/valparaiso-university/valparaiso-alumni-react-to-retiring-of-crusader-mascot-whats-the-problem-with-changing-it/article_06f06acd-dbe7-5b0f-9a33-253833d7f820.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Stardew Valley’s big local co-op update has come to consoles</h2>
                        <h3>The Verge - 12/02/2021</h3>
                        <a href=https://www.theverge.com/2021/2/11/22279227/stardew-valley-1-5-update-switch-playstation-xbox-console-split-screen target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Armies of China and India pull back from hand-to-hand border battle zone</h2>
                        <h3>The Guardian - 12/02/2021</h3>
                        <a href=https://amp.theguardian.com/world/2021/feb/12/armies-of-china-and-india-pull-back-from-hand-to-hand-border-battle-zone target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Newsom recall: What to know about the California recall process for governor</h2>
                        <h3>KCRA Sacramento - 12/02/2021</h3>
                        <a href=https://www.kcra.com/article/newsom-recall-what-to-know-about-california-recall-process-governor/35482537 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Australian city Melbourne begins 3rd lockdown due to cluster - The Associated Press</h2>
                        <h3>Associated Press - 12/02/2021</h3>
                        <a href=https://apnews.com/article/australia-coronavirus-pandemic-victoria-melbourne-asia-pacific-191e2ec1bb88787b15327080e51bbed6 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>"Bachelor" Contestant Rachael Kirkconnell Released An Apology And Says Her "Ignorance Was Racist" - BuzzFeed</h2>
                        <h3>Buzzfeed - 12/02/2021</h3>
                        <a href=https://www.buzzfeed.com/larryfitzmaurice/bachelor-rachael-kirkconnell-apology target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Minnesota shooting suspect charged with murder as complaint details gruesome attack</h2>
                        <h3>CBS News - 12/02/2021</h3>
                        <a href=https://www.cbsnews.com/news/shooting-minnesota-clinic-suspect-gregory-ulrich-charged/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>‘Mate! No Google?’ Australia faces life without key search engine - Aljazeera.com</h2>
                        <h3>Al Jazeera English - 12/02/2021</h3>
                        <a href=https://www.aljazeera.com/economy/2021/2/12/mate-no-google-australia-faces-life-without-key-search-engine target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Listen to Taylor Swift’s New Recording of “Love Story”</h2>
                        <h3>Pitchfork - 12/02/2021</h3>
                        <a href=https://pitchfork.com/news/listen-to-taylor-swifts-new-recording-of-love-story/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>CDC investigating possible COVID-19 vaccine-related death in Nebraska - KOLN</h2>
                        <h3>1011now - 12/02/2021</h3>
                        <a href=https://www.1011now.com/2021/02/12/cdc-investigating-possible-covid-19-vaccine-related-death-in-nebraska/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Aric Almirola and Austin Dillon win qualifying races for Daytona 500</h2>
                        <h3>ESPN - 12/02/2021</h3>
                        <a href=https://www.espn.com/racing/nascar/story/_/id/30883169/aric-almirola-austin-dillon-win-qualifying-races-daytona-500 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Report finds racial disparities in COVID-19 vaccinations in Washington state</h2>
                        <h3>KOMO News - 12/02/2021</h3>
                        <a href=https://komonews.com/news-brief-newsletter/report-finds-racial-disparities-in-covid-19-vaccinations-in-washington-state target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>SLO County receives surprise shipment of COVID-19 doses</h2>
                        <h3>KSBY San Luis Obispo News - 12/02/2021</h3>
                        <a href=https://www.ksby.com/news/coronavirus/slo-county-receives-surprise-shipment-of-covid-19-doses target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Top Republicans call for Cuomo's ouster following nursing home revelation</h2>
                        <h3>Politico - 12/02/2021</h3>
                        <a href=https://www.politico.com/states/new-york/albany/story/2021/02/11/top-republicans-call-for-cuomos-ouster-following-nursing-home-revelation-1363064 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
