<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tailor</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Tailor -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>Lewis Hamilton Signs New One-Year Contract With Mercedes for 2021 Formula 1 Season</h2>
                        <h3>HYPEBEAST - 10/02/2021</h3>
                        <a href=https://hypebeast.com/2021/2/formula-1-mercedes-lewis-hamilton-toto-wolff-2021-contract-deal target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Crackpot Cryptography and Security Theater</h2>
                        <h3>Soatok.blog - 10/02/2021</h3>
                        <a href=https://soatok.blog/2021/02/09/crackpot-cryptography-and-security-theater/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>A language learning system that pays attention -- more efficiently than ever before</h2>
                        <h3>EurekAlert - 10/02/2021</h3>
                        <a href=https://www.eurekalert.org/pub_releases/2021-02/miot-all021021.php target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The Crawl, Walk, Run Guide To Contextual Targeting</h2>
                        <h3>AdExchanger - 10/02/2021</h3>
                        <a href=http://www.adexchanger.com/online-advertising/the-crawl-walk-run-guide-to-contextual-targeting/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The Morning After: Facebook is apparently trying to build its own Clubhouse</h2>
                        <h3>Engadget - 11/02/2021</h3>
                        <a href=https://www.engadget.com/morning-after-122530623.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Big Fitbit update adds Charge 4 health features, brings premium data to more users</h2>
                        <h3>The Verge - 10/02/2021</h3>
                        <a href=https://www.theverge.com/2021/2/10/22276338/fitbit-update-charge-4-health-metrics target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Suffering from lower body pain? Try these three simple asanas with a blanket</h2>
                        <h3>The Indian Express - 10/02/2021</h3>
                        <a href=https://indianexpress.com/article/lifestyle/fitness/lower-body-pain-three-simple-asanas-with-blanket-rujuta-diwekar-7071808/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Firefly dual-lens AI Camera Module Supports Computer Vision at Edge</h2>
                        <h3>Electronics-lab.com - 10/02/2021</h3>
                        <a href=https://www.electronics-lab.com/firefly-dual-lens-ai-camera-module-supports-computer-vision-at-edge/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>4 Awesome Winter Road Trips to National Parks</h2>
                        <h3>Outside - 11/02/2021</h3>
                        <a href=https://www.outsideonline.com/2420702/four-winter-road-trips-hit-14-national-parks target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The Triathlete Hour Podcast: Sal Edwards is a Pioneer of the Sport</h2>
                        <h3>Triathlete.com - 10/02/2021</h3>
                        <a href=https://www.triathlete.com/culture/people/the-triathlete-hour-podcast-sal-edwards-is-a-pioneer-of-the-sport/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Logitech M720 Triathlon Wireless Mouse $75 (Was $99.95) Delivered @ Amazon AU</h2>
                        <h3>Ozbargain.com.au - 11/02/2021</h3>
                        <a href=https://www.ozbargain.com.au/node/603847 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Schedule for Graduates constituency MLC poll released</h2>
                        <h3>The Hindu - 11/02/2021</h3>
                        <a href=https://www.thehindu.com/news/national/telangana/schedule-for-graduates-constituency-mlc-poll-released/article33814628.ece target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>compressai 1.1.1b4</h2>
                        <h3>Pypi.org - 12/02/2021</h3>
                        <a href=https://pypi.org/project/compressai/1.1.1b4/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Six Nations 2021: Injury-hit Wales recall Liam Williams to face Scotland</h2>
                        <h3>BBC News - 11/02/2021</h3>
                        <a href=https://www.bbc.co.uk/sport/rugby-union/56023342 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>House Managers Rest Their Case Against Trump, but Most Republicans Are Not Swayed</h2>
                        <h3>New York Times - 12/02/2021</h3>
                        <a href=https://www.nytimes.com/2021/02/11/us/politics/trump-impeachment-trial.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Malcolm Gladwell to headline SocialChorus' Attune Digital Employee Experience Summit</h2>
                        <h3>Yahoo Entertainment - 10/02/2021</h3>
                        <a href=https://finance.yahoo.com/news/malcolm-gladwell-headline-socialchorus-attune-140400685.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>How to Stop Waking Up to Pee</h2>
                        <h3>Lifehacker.com - 10/02/2021</h3>
                        <a href=https://vitals.lifehacker.com/how-to-stop-waking-up-to-pee-1846242731 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Here's Why You Should Drink Coffee Before You Nap</h2>
                        <h3>Entrepreneur - 10/02/2021</h3>
                        <a href=https://www.entrepreneur.com/article/365162 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>: Turned 60 last year? Social Security has an unpleasant surprise for you</h2>
                        <h3>MarketWatch - 10/02/2021</h3>
                        <a href=https://www.marketwatch.com/story/turned-60-last-year-social-security-has-an-unpleasant-surprise-for-you-11612982395 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Exclusive: Hedge fund Sachem Head targets International Flavors - sources</h2>
                        <h3>Reuters - 10/02/2021</h3>
                        <a href=https://www.reuters.com/article/us-internationalflavors-sachemhead-idUSKBN2AA1X5 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
