<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Test -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>Source -- Tampa Bay Buccaneers QB Tom Brady apologized to Kansas City Chiefs safety Tyrann Mathieu in text message</h2>
                        <h3>ESPN - 08/02/2021</h3>
                        <a href=https://www.espn.com/nfl/story/_/id/30861899/source-tampa-bay-buccaneers-qb-tom-brady-apologized-kansas-city-chiefs-safety-tyrann-mathieu-text-message target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
