h1 {
    border: 3px #eee solid;
    color: #C83E4D;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: justify;
}

h3 {
    font-weight: lighter;
    font-style: oblique;
    margin: 10px 0 30px 0;
}

.container {
    margin: 50px;
    font-family: "palatino";
}

.all-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.article {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 30%;
    margin: 20px;
}


.article-content {
    padding: 5px 30px 40px 30px;
    color: #42658A;

}

.btn-article {
    background-color: #F5F5F5;
    color: #5E7282;
    border: 1px solid #5E7282;
    padding: 8px 24px;
    border-radius: 50px;
    text-decoration: none;
    transition: colors 0.5s ease, background-color 0.5s ease;
}

.btn-article:hover {
    background-color: #5E7282;
    color: white;
}