h1 {
    border: 3px #eee solid;
    color: #DB7F8E;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

h2 {
    letter-spacing: 0.03em;
}

h3 {
    font-weight: lighter;
    font-style: oblique;
    margin: 10px 0 30px 0;
}

.container {
    margin: 50px;
    font-family: "helvetica";
}






.all-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.article {
    box-shadow: 0 15px 30px rgb(150 170 180 / 50%);
    border-radius: 3px;
    width: 30%;
    margin: 20px;
}


.article-content {
    padding: 5px 30px 40px 30px;
    color: #42658A;

}

.btn-article {
    background-color: #C83E4D;
    color: #5E7282;
    padding: 10px 25px;
    border-radius: 3px;
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.btn-article:hover {
    background-color: #5E7282;
    color: white;
}







.panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;
}

.panel-left {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    height: 30%;
    width: 30%;
    margin: 20px;
    padding: 0 0 25px 0;
    text-align: center;
    font-size: 25px;
    color: #42658A;
    text-decoration: none;
    transition: color 0.1s ease, height 0.1s ease, width 0.1s ease, margin 0.1s ease;
}

.panel-image {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
}

.panel-left:hover {
    height: 34%;
    width: 34%;
    margin: 24px;
    color: #DB7F8E;
}

div.hiddden-text {
    color: green;
    text-align: center;
    padding: 10px 20px;
}

.panel-right {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    height: 29.3%;
    width: 29.3%;
    margin: 20px;
    padding: 0 0 25px 0;
    text-align: center;
    font-size: 26px;
    color: #42658A;
    text-decoration: none;
    transition: color 0.1s ease, height 0.1s ease, width 0.1s ease, margin 0.1s ease;
}

.panel-right:hover {
    height: 33%;
    width: 33%;
    margin: 24px;
    color: #DB7F8E;
}
