
    <html>
        <head><title>Simple News Link Scrapper</title></head>
        <body>
            <ol><li><a href='https://www.wsbtv.com/news/local/braves-legend-hank-aaron-dies-age-86-according-former-city-official/JXDCLYDFFVHNPC2KRNX2KBKIEM/' target='_blank'>[WSBTV.com News Staff] | Braves legend Hank Aaron dies at age 86, daughter says - WSB Atlanta | Legendary Atlanta Brave and Major League Baseball record holder Hank Aaron died Friday at the age of 86.</a></li>


<br><li><a href='https://www.npr.org/sections/president-biden-takes-office/2021/01/22/959581977/lloyd-austin-confirmed-as-secretary-of-defense-becomes-first-black-pentagon-chie' target='_blank'>[] | Lloyd Austin Confirmed As Secretary of Defense, Becomes First Black Pentagon Chief - NPR | Austin's near-unanimous confirmation came despite concerns raised on both sides of the aisle that he hadn't been out of uniform for the legally-mandated minimum seven-year period.</a></li>


<br><li><a href='https://www.foxnews.com/entertainment/gigi-hadid-reveals-name-daughter' target='_blank'>[Jessica Napoli] | Gigi Hadid reveals name of baby daughter - Fox News | She shares the baby with her boyfriend Zayn Malik.</a></li>


<br><li><a href='https://www.cnn.com/2021/01/22/politics/joe-biden-executive-orders-first-week/index.html' target='_blank'>[Kate Sullivan, Christopher Hickey and Sean O'Key, CNN] | Here are the 30 executive orders and actions Biden will sign in his first three days - CNN | President Joe Biden is signing a flurry of executive orders, actions and memorandums aimed at rapidly addressing the coronavirus pandemic and dismantling many of President Donald Trump's policies.</a></li>


<br><li><a href='https://www.usatoday.com/story/news/politics/2021/01/22/politics-live-updates-senate-wrestles-trump-impeachment-trial/6666302002/' target='_blank'>[Savannah Behrmann, Bart Jansen, Christal Hayes, Nicholas Wu] | Politics live updates: Schumer says Trump impeachment article will go to Senate on Monday - USA TODAY | Senate Majority Leader Chuck Schumer said the House will send the Senate the Trump impeachment article on Monday to start a trial</a></li>


<br><li><a href='https://www.npr.org/sections/coronavirus-live-updates/2021/01/22/959563778/nfl-invites-7-500-health-care-workers-to-the-super-bowl' target='_blank'>[] | Super Bowl LV: NFL Invites 7,500 Health Care Workers : Coronavirus Updates - NPR | Most of the invitees work in the central Florida area, though all of the NFL's 32 clubs will pick health care workers from their communities to receive free tickets to the sport's biggest game.</a></li>


<br><li><a href='https://www.nbcnews.com/news/us-news/texas-doctor-accused-stealing-vial-covid-19-vaccines-n1255281' target='_blank'>[Wilson Wong] | Texas doctor accused of stealing vial of Covid-19 vaccine - NBC News | Dr. Hasan Gokal charged with theft by a public servant after authorities said he stole a vial containing nine doses of the vaccine.</a></li>


<br><li><a href='https://www.kitco.com/news/2021-01-22/Gold-prices-remain-under-pressure-following-strong-rise-in-U-S-Flash-PMI-data.html' target='_blank'>[http://www.facebook.com/kitconews] | Gold prices remain under pressure following strong rise in U.S. Flash PMI data - Kitco NEWS | (Kitco News) - The gold market remains under pressure but is seeing little movement heading into the weekend as positive economic data and improving sentiment weighs on the precious metal.</a></li>


<br><li><a href='https://www.cnn.com/2021/01/22/health/us-coronavirus-friday/index.html' target='_blank'>[Madeline Holcombe and Jason Hanna, CNN] | The US can vaccinate up to 85% of adults and begin a return to normal by fall, Fauci says - CNN | Despite challenges with distributing and administering Covid-19 vaccines, the US "can and should" vaccinate 70-85% of adults by the end of summer, infectious disease expert Dr. Anthony Fauci says.</a></li>


<br><li><a href='https://pagesix.com/2021/01/22/casey-affleck-addresses-ben-affleck-and-ana-de-armas-breakup/' target='_blank'>[Francesca Bacardi] | Casey Affleck confirms he didn't throw out the Ana de Armas cutouts - Page Six | He wasn’t the mystery man.</a></li>


<br><li><a href='https://bleacherreport.com/articles/2927682-bleacher-reports-expert-nfl-conference-championship-picks-predictions' target='_blank'>[NFL Staff] | Bleacher Report's Expert NFL Conference Championship Picks & Predictions - Bleacher Report | For what it's worth, on each of the last four NFL Conference Championship Sundays, both favorites have either covered with impressive wins together or fallen short of expectations with close wins or losses together...</a></li>


<br><li><a href='https://gizmodo.com/heres-what-biden-should-prioritize-at-nasa-1846103628' target='_blank'>[George Dvorsky] | Here's What Biden Should Prioritize at NASA - Gizmodo | We reached out to space experts, asking a very simple question: What should be Biden’s NASA priorities?</a></li>


<br><li><a href='https://www.cnbc.com/2021/01/22/apple-reportedly-working-on-thinner-lighter-macbook-air-with-magsafe.html' target='_blank'>[Todd Haselton] | Apple reportedly working on MacBooks with magnetic charging and new designs - CNBC | Apple will use its own processors instead of Intel's in the new Macs.</a></li>


<br><li><a href='https://www.foxnews.com/entertainment/ted-cruz-slams-seth-rogen-actor-fascist-spat-biden-paris-climate-pledge' target='_blank'>[Melissa Roberto] | Ted Cruz slams 'rich' Seth Rogen after actor calls him a 'fascist' in spat over Biden's Paris climate pledge - Fox News | Sen. Ted Cruz, R-TX, and actor Seth Rogen duked it out on Twitter over one of President Biden's first executive orders.</a></li>


<br><li><a href='https://nypost.com/2021/01/22/google-threatens-to-block-search-engine-in-australiagoogle-threatens-to-shut-off-search-engine-in-australia-over-news-law/' target='_blank'>[Noah Manskar] | Google threatens to shut off search engine in Australia over news law - New York Post  | Google on Friday threatened to shut off its search engine in Australia if officials there approve a law requiring it to pay news publishers for their content. The Silicon Valley titan escalated its…</a></li>


<br><li><a href='https://www.engadget.com/galaxy-s21-review-tma-125048743.html' target='_blank'>[] | The Morning After: The Galaxy S21 reviews are in - Engadget | The verdict is in for Samsung’s Galaxy S21 series. We’ve got two separate reviews for you today, one on the premium Ultra variant and another for the standard S21 — which should also inform you of what to expect from the S21+ model.</a></li>


<br><li><a href='https://nypost.com/2021/01/22/national-guard-troops-allowed-in-capitol-after-being-moved-to-garage/' target='_blank'>[Yaron Steinbuch] | National Guardsmen allowed back into Capitol after being 'banished' to garage - New York Post  | The National Guard troops who were “banished” to a cramped parking garage amid outrage after protecting Washington, DC, in the aftermath of the deadly riots have been allowed back into the US Capit…</a></li>


<br><li><a href='https://amp.theguardian.com/world/2021/jan/22/coronavirus-variant-biden-strategy-covid' target='_blank'>[Jessica Glenza] | Biden team in race against time as new strain threatens to intensify Covid wave - The Guardian | More infectious B117 variant adds to monumental scale of task as vaccine deployment called ‘a dismal failure so far’</a></li>


<br><li><a href='https://www.kxan.com/news/local/austin/dave-chappelle-cancels-shows-after-testing-positive-for-covid-19/' target='_blank'>[The Associated Press, Nexstar Media Wire] | Dave Chappelle cancels shows after testing positive for COVID-19 - KXAN.com | Dave Chappelle tested positive for the coronavirus just before his comedy show scheduled for Thursday, forcing his upcoming appearances to be canceled, a spokeswoman said.</a></li>


<br><li><a href='https://www.cnbc.com/2021/01/22/5-things-to-know-before-the-stock-market-opens-january-22-2021.html' target='_blank'>[Matthew J. Belvedere] | 5 things to know before the stock market opens Friday - CNBC | Dow futures fell Friday as Intel and IBM came under heavy pressure after releasing quarterly results late Thursday.</a></li>


<br></ol>
        </body>
    </html>
    