<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Party Extractor UI</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <script>
        function GPT3Call(text) {
        fetch('/v1/models/partyextractor:predict', {method:"POST", mode:"cors", body:text})
          .then(function(response) {
            return response.json();
          })
        .then(function(myJson) {
          var s = document.getElementById('resp');
          s.innerHTML = myJson["parties"];
        });
      }

    </script>
    <div class="container">
        <h2>GPT-3 Party Extractor Demo</h2>
        <br>
        <form action="javascript:GPT3Call(docInput.value)">
            <div class="form-group">
                  <label for="docInput">Parties Clause:</label>
                  <textarea class="form-control" id="docInput" rows="7">as of the date of the last signature below, effective May 17, 2010 by and between Elsinore Services, Inc., a Delaware corporation ("Client"), and FaceTime Strategy LLC, a Virginia limited liability company ("FaceTime"), and provides as follows:</textarea>
            </div>
            <div>
                <input type="submit" value="Extract Parties Names and Definition"/>
            </div>
        </form>
        <br>
        <br>
        <h5>Parties extracted by GPT-3:</h5>
        <div id="resp"></div>
        <br>
    </div>
</body>
</html>