
    <html>
        <head><title>Simple News Link Scrapper</title></head>
        <body>
            <ol><li><a href='https://blog.google/inside-google/googlers/shachi-dave-natural-language-processing/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogspot%2FMKuf+%28The+Keyword+%7C+Official+Google+Blog%29' target='_blank'>[MJ PhamResponsible Innovation Team] | Meet the researcher creating more access with language | When you’ve got your hands full, so you use your voice to ask your phone to play your favorite song, it can feel like magic. In reality, it’s a more complicated combination of engineering, design and natural language processing at work, making it easier for m…</a></li>


<br><li><a href='https://venturebeat.com/2021/01/12/google-trained-a-trillion-parameter-ai-language-model/' target='_blank'>[Kyle Wiggers] | Google trained a trillion-parameter AI language model | Researchers at Google claim to have trained a natural language model containing over a trillion parameters.</a></li>


<br><li><a href='https://joinphase.com/talent-acquisition-nlp' target='_blank'>[None] | Reducing Time-to-Hire and Finding Niche Candidates via Text Mining and NLP | Phase is an analytics and AI platform designed for HR professionals and people analytics researchers. Here we present a case study showing how to use text mining and natural language processing (NLP) to optimize your talent pipeline.</a></li>


<br><li><a href='http://techcrunch.com/2021/01/27/finesse-launch-seed-funding/' target='_blank'>[Anthony Ha] | Finesse raises $4.5M to use AI to predict fashion trends | Finesse, a startup promising to take the guesswork and waste out of fashion, is announcing that it has raised $4.5 million in seed and pre-seed funding. Founder and CEO Ramin Ahmari said the tremendous waste in the fashion industry has become badly-kept secre…</a></li>


<br><li><a href='https://venturebeat.com/2021/01/06/ai-models-from-microsoft-and-google-already-surpass-human-performance-on-the-superglue-language-benchmark/' target='_blank'>[Kyle Wiggers] | AI models from Microsoft and Google already surpass human performance on the SuperGLUE language benchmark | AI language models have surpassed human performance on a popular benchmark. But what does that really mean?</a></li>


<br><li><a href='https://www.cambridge.org/core/journals/natural-language-engineering/article/natural-language-generation-the-commercial-state-of-the-art-in-2020/BA2417D73AF29F8073FF5B611CDEB97F' target='_blank'>[None] | Natural language generation: The commercial state of the art in 2020 | Natural language generation: The commercial state of the art in 2020 - Volume 26 Issue 4</a></li>


<br><li><a href='https://science.sciencemag.org/content/371/6526/284.full' target='_blank'>[Hie, B., Zhong, E. D., Berger, B., Bryson, B.] | Learning the language of viral evolution and escape | Viral mutations that evade neutralizing antibodies, an occurrence known as viral escape, can occur and may impede the development of vaccines. To predict which mutations may lead to viral escape, Hie et al. used a machine learning technique for natural langua…</a></li>


<br><li><a href='https://www.digitaltrends.com/news/language-barrier-real-time-translation-ces-2021/' target='_blank'>[Jeremy Kaplan] | Tech for Change: New gadgets at CES 2021 finally bridge the language barrier | Tech has turned us all into travelers these days, but language remains a challenging topic -- one tech is actively tackling.</a></li>


<br><li><a href='https://science.sciencemag.org/content/371/6526/233.full' target='_blank'>[Kim, Y.-A., Przytycka, T. M.] | The language of a virus | Uncovering connections between seemingly unrelated branches of science might accelerate research in one branch by using the methods developed in the other branch as stepping stones. On page 284 of this issue, Hie et al. ([ 1 ][1]) provide an elegant example o…</a></li>


<br><li><a href='https://venturebeat.com/2021/01/25/jetplays-ludo-ai-platform-accelerates-game-concept-creation/' target='_blank'>[Dean Takahashi] | JetPlay’s Ludo AI platform accelerates game concept creation | JetPlay has launched Ludo AI, a game creativity platform that leverages artificial intelligence to accelerate the creative process.</a></li>


<br><li><a href='https://arxiv.org/abs/2009.05673' target='_blank'>[None] | Applications of Deep Neural Networks v2 [pdf] | Deep learning is a group of exciting new technologies for neural networks.
Through a combination of advanced training techniques and neural network
architectural components, it is now possible to create neural networks that can
handle tabular data, images, te…</a></li>


<br><li><a href='http://techcrunch.com/2021/01/12/descript-raises-30m-to-build-the-next-generation-of-video-and-audio-editing-tools/' target='_blank'>[Ingrid Lunden] | Descript raises $30M to build the next generation of video and audio editing tools | The popularity of podcasting and online video shows no signs of slowing down, and so we continue to see a wave of creators publishing a profusion of audio and video content to fill out the airwaves. Today, a company building a platform to make that work easie…</a></li>


<br><li><a href='https://thenextweb.com/neural/2021/01/03/how-ai-weeds-the-spam-out-of-our-inboxes-syndication/' target='_blank'>[Ben Dickson] | How AI weeds the spam out of our inboxes | Of more than 300 billion emails sent every day, at least half are spam. Email providers have the huge task of filtering out spam and making sure their users receive the messages that matter. Spam detection is messy. The line between spam and non-spam messages…</a></li>


<br><li><a href='https://thenextweb.com/syndication/2021/01/16/forget-coding-you-can-now-solve-your-ai-problems-with-excel/' target='_blank'>[Ben Dickson] | Forget coding, you can now solve your AI problems with Excel | Machine learning and deep learning have become an important part of many applications we use every day. There are few domains that the fast expansion of machine learning hasn’t touched. Many businesses have thrived by developing the right strategy to integrat…</a></li>


<br><li><a href='https://www.entrepreneur.com/article/361608' target='_blank'>[Brian Byer] | 3 Ways AI Can Transform Your Business Now | Most companies are in the early phases of determining how best to put AI to work for them.</a></li>


<br><li><a href='https://www.heise.de/news/Minds-Mastering-Machines-Jetzt-noch-Vortrag-fuer-die-Online-Konferenz-einreichen-5018513.html' target='_blank'>[Rainald Menge-Sonnentag] | heise-Angebot: Minds Mastering Machines: Jetzt noch Vortrag für die Online-Konferenz einreichen | Bis zum 17. Januar 2020 suchen die Veranstalter nach Vorträgen und Workshops zu Entwicklerthemen rund um Machine Learning.</a></li>


<br><li><a href='https://venturebeat.com/2021/01/25/cortical-ios-ai-makes-bulk-contract-analysis-faster-and-more-accurate/' target='_blank'>[Jeremy Horwitz] | Cortical.io’s AI makes bulk contract analysis faster and more accurate | Reviewing large quantities of legal or financial documents can be a chore, but Contract Intelligence promises to cut analysis time by 80%.</a></li>


<br><li><a href='https://thenextweb.com/neural/2021/01/10/heres-how-openais-magical-dall-e-generates-images-from-text-syndication/' target='_blank'>[Dale Markowitz] | Here’s how OpenAI’s magical DALL-E image generator works | It seems like every few months, someone publishes a machine learning paper or demo that makes my jaw drop. This month, it’s OpenAI’s new image-generating model, DALL·E. This behemoth 12-billion-parameter neural network takes a text caption (i.e. “an armchair …</a></li>


<br><li><a href='https://parentheticallyspeaking.org/articles/drscheme-in-space/' target='_blank'>[None] | DrScheme in Space | Comments</a></li>


<br><li><a href='https://www.technologyreview.com/2021/01/12/1016031/jumbled-up-sentences-ai-doesnt-understand-language-nlp-bert-fix/' target='_blank'>[Will Heaven] | Jumbled up sentences show that AIs still don’t really understand language | Many AIs that appear to understand language and that score better than humans on a common set of comprehension tasks don’t notice when the words in a sentence are jumbled up, which shows that they don’t really understand language at all. The problem lies in t…</a></li>


<br></ol>
        </body>
    </html>
    