<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Headlines</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Headlines -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>Microsoft announces Surface Laptop 4 with choice of Intel or AMD processors</h2>
                        <h3>The Verge - 13/04/2021</h3>
                        <a href=https://www.theverge.com/22381390/microsoft-surface-laptop-4-features-price-specs-release-date target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>U.S. Calls for Pause on Johnson & Johnson Vaccine After Blood Clotting Cases - The New York Times</h2>
                        <h3>New York Times - 13/04/2021</h3>
                        <a href=https://www.nytimes.com/2021/04/13/us/politics/johnson-johnson-vaccine-blood-clots-fda-cdc.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Live Updates: Second night of unrest after fatal police shooting of Daunte Wright outside Minneapolis</h2>
                        <h3>CBS News - 13/04/2021</h3>
                        <a href=https://www.cbsnews.com/live-updates/daunte-wright-killed-police-brooklyn-center-minnesota-protests-second-night-04-13-2021/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Zack Snyder's Army of the Dead Drops Its Intense New Trailer - Gizmodo</h2>
                        <h3>Gizmodo.com - 13/04/2021</h3>
                        <a href=https://io9.gizmodo.com/zack-snyders-army-of-the-dead-drops-its-intense-new-tra-1846668619 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Biden will withdraw all U.S. forces from Afghanistan by Sept. 11, 2021</h2>
                        <h3>The Washington Post - 13/04/2021</h3>
                        <a href=https://www.washingtonpost.com/national-security/biden-us-troop-withdrawal-afghanistan/2021/04/13/918c3cae-9beb-11eb-8a83-3bc1fa69c2e8_story.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Twins will play Red Sox today, and they'll play doubleheader tomorrow</h2>
                        <h3>Minneapolis Star Tribune - 13/04/2021</h3>
                        <a href=https://www.startribune.com/twins-will-play-red-sox-today-and-theyll-play-doubleheader-tomorrow/600045407/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Maine reports 571 new COVID-19 cases, highest daily total since late January</h2>
                        <h3>Press Herald - 13/04/2021</h3>
                        <a href=https://www.pressherald.com/2021/04/13/maine-reports-571-new-covid-19-cases-highest-daily-total-since-late-january/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Intelligence Report Calls China Biggest Threat to U.S. - The New York Times</h2>
                        <h3>New York Times - 13/04/2021</h3>
                        <a href=https://www.nytimes.com/2021/04/13/us/politics/china-intelligence-threat-usa.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Fortnite creator Epic Games' valuation jumps to $29 billion in new funding round</h2>
                        <h3>CNBC - 13/04/2021</h3>
                        <a href=https://www.cnbc.com/2021/04/13/fortnite-creator-epic-games-valuation-jumps-to-29-billion.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Apple announces April 20 event where new iPads and more are expected</h2>
                        <h3>CNBC - 13/04/2021</h3>
                        <a href=https://www.cnbc.com/2021/04/13/apple-april-event-new-ipads-airtags-are-expected.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>CDC and FDA recommend US pause use of Johnson & Johnson's Covid-19 vaccine over blood clot concerns</h2>
                        <h3>CNN - 13/04/2021</h3>
                        <a href=https://www.cnn.com/2021/04/13/health/johnson-vaccine-pause-cdc-fda/index.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Biden tells family of officer killed in Capitol car attack: ‘Your Dad was a hero’ – live</h2>
                        <h3>The Guardian - 13/04/2021</h3>
                        <a href=https://www.theguardian.com/us-news/live/2021/apr/13/joe-biden-capitol-police-officer-covid-coronavirus-latest-live-updates target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Gold prices rise after higher-than-expected reading on U.S. inflation</h2>
                        <h3>MarketWatch - 13/04/2021</h3>
                        <a href=https://www.marketwatch.com/story/gold-prices-rise-as-u-s-inflation-reported-higher-than-expected-11618319766 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Cinerama Dome Among ArcLight, Pacific Theaters To Close Due To Pandemic Losses</h2>
                        <h3>NPR - 13/04/2021</h3>
                        <a href=https://www.npr.org/2021/04/13/986728105/cinerama-dome-among-arclight-pacific-theaters-to-close-due-to-pandemic-losses target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Democratic pollsters acknowledge 'major errors' in 2020 surveys | TheHill</h2>
                        <h3>The Hill - 13/04/2021</h3>
                        <a href=https://thehill.com/homenews/campaign/547876-democratic-pollsters-acknowledge-major-errors-in-2020-surveys target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Derek Chauvin Trial, April 13 Live Updates: The State Rests Its Case; Defense Begins To Call Witnesses - CBS Minnesota</h2>
                        <h3>Cbslocal.com - 13/04/2021</h3>
                        <a href=https://minnesota.cbslocal.com/2021/04/13/derek-chauvin-trial-april-13-will-the-former-minneapolis-officer-testify/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Nuggets guard Jamal Murray suffers torn left ACL, team announces</h2>
                        <h3>The Denver Post - 13/04/2021</h3>
                        <a href=https://www.denverpost.com/2021/04/13/nuggets-guard-jamal-murray-torn-acl/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Cash-out refinance vs. home equity loan: Which to pick</h2>
                        <h3>Fox Business - 13/04/2021</h3>
                        <a href=https://www.foxbusiness.com/money/cash-out-refinance-vs-home-equity-loan target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Meteor blazes across South Florida skies</h2>
                        <h3>Fox News - 13/04/2021</h3>
                        <a href=https://www.foxnews.com/us/meteor-blazes-across-south-florida-skies target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Austin announces increase to US military presence in Germany</h2>
                        <h3>CNN - 13/04/2021</h3>
                        <a href=https://www.cnn.com/2021/04/13/politics/lloyd-austin-increase-us-troops-germany-nato/index.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
