<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Headlines</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Headlines -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>Gigi Hadid reveals name of baby daughter - Fox News</h2>
                        <h3>Jessica Napoli</h3>
                        <a href=https://www.foxnews.com/entertainment/gigi-hadid-reveals-name-daughter target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Gold prices remain under pressure following strong rise in U.S. Flash PMI data - Kitco NEWS</h2>
                        <h3>http://www.facebook.com/kitconews</h3>
                        <a href=https://www.kitco.com/news/2021-01-22/Gold-prices-remain-under-pressure-following-strong-rise-in-U-S-Flash-PMI-data.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>5 things to know before the stock market opens Friday - CNBC</h2>
                        <h3>Matthew J. Belvedere</h3>
                        <a href=https://www.cnbc.com/2021/01/22/5-things-to-know-before-the-stock-market-opens-january-22-2021.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Apple reportedly working on MacBooks with magnetic charging and new designs - CNBC</h2>
                        <h3>Todd Haselton</h3>
                        <a href=https://www.cnbc.com/2021/01/22/apple-reportedly-working-on-thinner-lighter-macbook-air-with-magsafe.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Texas doctor accused of stealing vial of Covid-19 vaccine - NBC News</h2>
                        <h3>Wilson Wong</h3>
                        <a href=https://www.nbcnews.com/news/us-news/texas-doctor-accused-stealing-vial-covid-19-vaccines-n1255281 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Gigi Hadid reveals name of baby daughter - Fox News</h2>
                        <h3>Jessica Napoli</h3>
                        <a href=https://www.foxnews.com/entertainment/gigi-hadid-reveals-name-daughter target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Biden team in race against time as new strain threatens to intensify Covid wave - The Guardian</h2>
                        <h3>Jessica Glenza</h3>
                        <a href=https://amp.theguardian.com/world/2021/jan/22/coronavirus-variant-biden-strategy-covid target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Ted Cruz slams 'rich' Seth Rogen after actor calls him a 'fascist' in spat over Biden's Paris climate pledge - Fox News</h2>
                        <h3>Melissa Roberto</h3>
                        <a href=https://www.foxnews.com/entertainment/ted-cruz-slams-seth-rogen-actor-fascist-spat-biden-paris-climate-pledge target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Casey Affleck confirms he didn't throw out the Ana de Armas cutouts - Page Six</h2>
                        <h3>Francesca Bacardi</h3>
                        <a href=https://pagesix.com/2021/01/22/casey-affleck-addresses-ben-affleck-and-ana-de-armas-breakup/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Texas doctor accused of stealing vial of Covid-19 vaccine - NBC News</h2>
                        <h3>Wilson Wong</h3>
                        <a href=https://www.nbcnews.com/news/us-news/texas-doctor-accused-stealing-vial-covid-19-vaccines-n1255281 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Politics live updates: Schumer says Trump impeachment article will go to Senate on Monday - USA TODAY</h2>
                        <h3>Savannah Behrmann, Bart Jansen, Christal Hayes, Nicholas Wu</h3>
                        <a href=https://www.usatoday.com/story/news/politics/2021/01/22/politics-live-updates-senate-wrestles-trump-impeachment-trial/6666302002/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Super Bowl LV: NFL Invites 7,500 Health Care Workers : Coronavirus Updates - NPR</h2>
                        <h3></h3>
                        <a href=https://www.npr.org/sections/coronavirus-live-updates/2021/01/22/959563778/nfl-invites-7-500-health-care-workers-to-the-super-bowl target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Here's What Biden Should Prioritize at NASA - Gizmodo</h2>
                        <h3>George Dvorsky</h3>
                        <a href=https://gizmodo.com/heres-what-biden-should-prioritize-at-nasa-1846103628 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Lloyd Austin Confirmed As Secretary of Defense, Becomes First Black Pentagon Chief - NPR</h2>
                        <h3></h3>
                        <a href=https://www.npr.org/sections/president-biden-takes-office/2021/01/22/959581977/lloyd-austin-confirmed-as-secretary-of-defense-becomes-first-black-pentagon-chie target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Dave Chappelle cancels shows after testing positive for COVID-19 - KXAN.com</h2>
                        <h3>The Associated Press, Nexstar Media Wire</h3>
                        <a href=https://www.kxan.com/news/local/austin/dave-chappelle-cancels-shows-after-testing-positive-for-covid-19/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>National Guardsmen allowed back into Capitol after being 'banished' to garage - New York Post </h2>
                        <h3>Yaron Steinbuch</h3>
                        <a href=https://nypost.com/2021/01/22/national-guard-troops-allowed-in-capitol-after-being-moved-to-garage/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Super Bowl LV: NFL Invites 7,500 Health Care Workers : Coronavirus Updates - NPR</h2>
                        <h3></h3>
                        <a href=https://www.npr.org/sections/coronavirus-live-updates/2021/01/22/959563778/nfl-invites-7-500-health-care-workers-to-the-super-bowl target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Politics live updates: Schumer says Trump impeachment article will go to Senate on Monday - USA TODAY</h2>
                        <h3>Savannah Behrmann, Bart Jansen, Christal Hayes, Nicholas Wu</h3>
                        <a href=https://www.usatoday.com/story/news/politics/2021/01/22/politics-live-updates-senate-wrestles-trump-impeachment-trial/6666302002/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Bleacher Report's Expert NFL Conference Championship Picks & Predictions - Bleacher Report</h2>
                        <h3>NFL Staff</h3>
                        <a href=https://bleacherreport.com/articles/2927682-bleacher-reports-expert-nfl-conference-championship-picks-predictions target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Ted Cruz slams 'rich' Seth Rogen after actor calls him a 'fascist' in spat over Biden's Paris climate pledge - Fox News</h2>
                        <h3>Melissa Roberto</h3>
                        <a href=https://www.foxnews.com/entertainment/ted-cruz-slams-seth-rogen-actor-fascist-spat-biden-paris-climate-pledge target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Biden team in race against time as new strain threatens to intensify Covid wave - The Guardian</h2>
                        <h3>Jessica Glenza</h3>
                        <a href=https://amp.theguardian.com/world/2021/jan/22/coronavirus-variant-biden-strategy-covid target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Here's What Biden Should Prioritize at NASA - Gizmodo</h2>
                        <h3>George Dvorsky</h3>
                        <a href=https://gizmodo.com/heres-what-biden-should-prioritize-at-nasa-1846103628 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Dave Chappelle cancels shows after testing positive for COVID-19 - KXAN.com</h2>
                        <h3>The Associated Press, Nexstar Media Wire</h3>
                        <a href=https://www.kxan.com/news/local/austin/dave-chappelle-cancels-shows-after-testing-positive-for-covid-19/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>5 things to know before the stock market opens Friday - CNBC</h2>
                        <h3>Matthew J. Belvedere</h3>
                        <a href=https://www.cnbc.com/2021/01/22/5-things-to-know-before-the-stock-market-opens-january-22-2021.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Here are the 30 executive orders and actions Biden will sign in his first three days - CNN</h2>
                        <h3>Kate Sullivan, Christopher Hickey and Sean O'Key, CNN</h3>
                        <a href=https://www.cnn.com/2021/01/22/politics/joe-biden-executive-orders-first-week/index.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The US can vaccinate up to 85% of adults and begin a return to normal by fall, Fauci says - CNN</h2>
                        <h3>Madeline Holcombe and Jason Hanna, CNN</h3>
                        <a href=https://www.cnn.com/2021/01/22/health/us-coronavirus-friday/index.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Google threatens to shut off search engine in Australia over news law - New York Post </h2>
                        <h3>Noah Manskar</h3>
                        <a href=https://nypost.com/2021/01/22/google-threatens-to-block-search-engine-in-australiagoogle-threatens-to-shut-off-search-engine-in-australia-over-news-law/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Braves legend Hank Aaron dies at age 86, daughter says - WSB Atlanta</h2>
                        <h3>WSBTV.com News Staff</h3>
                        <a href=https://www.wsbtv.com/news/local/braves-legend-hank-aaron-dies-age-86-according-former-city-official/JXDCLYDFFVHNPC2KRNX2KBKIEM/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Google threatens to shut off search engine in Australia over news law - New York Post </h2>
                        <h3>Noah Manskar</h3>
                        <a href=https://nypost.com/2021/01/22/google-threatens-to-block-search-engine-in-australiagoogle-threatens-to-shut-off-search-engine-in-australia-over-news-law/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Braves legend Hank Aaron dies at age 86, daughter says - WSB Atlanta</h2>
                        <h3>WSBTV.com News Staff</h3>
                        <a href=https://www.wsbtv.com/news/local/braves-legend-hank-aaron-dies-age-86-according-former-city-official/JXDCLYDFFVHNPC2KRNX2KBKIEM/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>National Guardsmen allowed back into Capitol after being 'banished' to garage - New York Post </h2>
                        <h3>Yaron Steinbuch</h3>
                        <a href=https://nypost.com/2021/01/22/national-guard-troops-allowed-in-capitol-after-being-moved-to-garage/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Gold prices remain under pressure following strong rise in U.S. Flash PMI data - Kitco NEWS</h2>
                        <h3>http://www.facebook.com/kitconews</h3>
                        <a href=https://www.kitco.com/news/2021-01-22/Gold-prices-remain-under-pressure-following-strong-rise-in-U-S-Flash-PMI-data.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Here are the 30 executive orders and actions Biden will sign in his first three days - CNN</h2>
                        <h3>Kate Sullivan, Christopher Hickey and Sean O'Key, CNN</h3>
                        <a href=https://www.cnn.com/2021/01/22/politics/joe-biden-executive-orders-first-week/index.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Apple reportedly working on MacBooks with magnetic charging and new designs - CNBC</h2>
                        <h3>Todd Haselton</h3>
                        <a href=https://www.cnbc.com/2021/01/22/apple-reportedly-working-on-thinner-lighter-macbook-air-with-magsafe.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Casey Affleck confirms he didn't throw out the Ana de Armas cutouts - Page Six</h2>
                        <h3>Francesca Bacardi</h3>
                        <a href=https://pagesix.com/2021/01/22/casey-affleck-addresses-ben-affleck-and-ana-de-armas-breakup/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Lloyd Austin Confirmed As Secretary of Defense, Becomes First Black Pentagon Chief - NPR</h2>
                        <h3></h3>
                        <a href=https://www.npr.org/sections/president-biden-takes-office/2021/01/22/959581977/lloyd-austin-confirmed-as-secretary-of-defense-becomes-first-black-pentagon-chie target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Bleacher Report's Expert NFL Conference Championship Picks & Predictions - Bleacher Report</h2>
                        <h3>NFL Staff</h3>
                        <a href=https://bleacherreport.com/articles/2927682-bleacher-reports-expert-nfl-conference-championship-picks-predictions target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The Morning After: The Galaxy S21 reviews are in - Engadget</h2>
                        <h3></h3>
                        <a href=https://www.engadget.com/galaxy-s21-review-tma-125048743.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The US can vaccinate up to 85% of adults and begin a return to normal by fall, Fauci says - CNN</h2>
                        <h3>Madeline Holcombe and Jason Hanna, CNN</h3>
                        <a href=https://www.cnn.com/2021/01/22/health/us-coronavirus-friday/index.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-globe-americas" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The Morning After: The Galaxy S21 reviews are in - Engadget</h2>
                        <h3></h3>
                        <a href=https://www.engadget.com/galaxy-s21-review-tma-125048743.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-location-arrow" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
