<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Headlines</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
    </head>
    <body>
        <div class="container">
            <h1>- Welcome To Underload -</h1>
            <div class="panels">
                <a href="/tailor" class="panel-left">
                    <img class="panel-image" src="static/images/red_pill.jpg"/>
                    <div class="hidden-text">
                        Tailored News
                    </div>
                </a>
                <a href="/headlines" class="panel-right">
                    <img class="panel-image" src="static/images/blue_pill.jpg"/>
                    <div class="hidden-text">
                        Headlines
                    </div>
                </a>
            </div>
        </div>
    </body>s
</html>
