<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tailor</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
    </head>
    <body>
        <div class="container">
            <h1>- Tailor -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>Meet the researcher creating more access with language</h2>
                        <h3>MJ PhamResponsible Innovation Team</h3>
                        <a href=https:https://blog.google/inside-google/googlers/shachi-dave-natural-language-processing/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogspot%2FMKuf+%28The+Keyword+%7C+Official+Google+Blog%29 target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>What Would It Take to Run a City on 100 Percent Clean Energy?</h2>
                        <h3>Shannon Osaka</h3>
                        <a href=https:https://www.wired.com/story/what-would-it-take-to-run-a-city-on-100-percent-clean-energy/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>MIT’s new ‘liquid’ neural network learns on the job — so robots can adapt to changing conditions</h2>
                        <h3>Thomas Macaulay</h3>
                        <a href=https:https://thenextweb.com/neural/2021/01/29/mits-new-liquid-neural-network-learns-on-the-job-so-robots-can-adapt-to-changing-conditions/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Lenovo's new Titanium Yoga laptop will feature Sensel's force-sensing tech</h2>
                        <h3>Steve Dent</h3>
                        <a href=https:https://www.engadget.com/sensel-force-sensing-tech-lenovo-laptop-130004184.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>UPDATE 1-Motor racing-Formula One postpones Australian GP, China uncertain - Reuters</h2>
                        <h3>Alan Baldwin</h3>
                        <a href=https:https://www.reuters.com/article/motor-f1-calendar/update-2-motor-racing-formula-one-postpones-australian-gp-china-uncertain-idUSL1N2JN0H5 target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Le cyclo-cross, pratique de plus en plus embourbée en France</h2>
                        <h3>Maxime Lemaitre</h3>
                        <a href=https:https://www.lemonde.fr/sport/article/2021/01/10/le-cyclo-cross-pratique-de-plus-en-plus-embourbee-en-france_6065768_3242.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Car Lanes to Become Bike Lanes on 2 Major New York City Bridges</h2>
                        <h3>Emma G. Fitzsimmons</h3>
                        <a href=https:https://www.nytimes.com/2021/01/28/nyregion/bike-brooklyn-bridge-de-blasio.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Watch Oriane Bertone Climb Super Tanker (V14) at Age 15</h2>
                        <h3>Climbing Staff</h3>
                        <a href=https:https://www.climbing.com/videos/watch-oriane-bertone-climb-super-tanker-v14-at-age-15/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Flowhaven raises $16M to evolve brand licensing management beyond emails and spreadsheets</h2>
                        <h3>Sarah Perez</h3>
                        <a href=https:http://techcrunch.com/2021/01/28/flowhaven-raises-16m-to-evolve-brand-licensing-management-beyond-emails-and-spreadsheets/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Cyclisme : « malheureux », Tom Dumoulin annonce faire « une pause » dans sa carrière</h2>
                        <h3>Le Monde avec AFP</h3>
                        <a href=https:https://www.lemonde.fr/sport/article/2021/01/23/cyclisme-malheureux-tom-dumoulin-annonce-faire-une-pause-dans-sa-carriere_6067367_3242.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>[Перевод] Как обучать огромные модели машинного обучения на случайных GPU</h2>
                        <h3>one-two</h3>
                        <a href=https:https://habr.com/ru/company/skillfactory/blog/536620/#post-content-body target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Explorez la pensée informatique</h2>
                        <h3>Korben</h3>
                        <a href=https:https://korben.info/histoire-pensee-informatique.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Онлайн-конференція Data Science fwdays’21, 24 квітня</h2>
                        <h3>Daryna Stremetska</h3>
                        <a href=https:https://dou.ua/calendar/35719/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>How to define work (and love)</h2>
                        <h3>Jacob</h3>
                        <a href=https:https://earlyretirementextreme.com/how-to-define-work-and-love.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Machine Learning: TensorFlow-Projekt verwaltet Metadaten zum Modelltraining</h2>
                        <h3>Rainald Menge-Sonnentag</h3>
                        <a href=https:https://www.heise.de/news/Machine-Learning-TensorFlow-Projekt-verwaltet-Metadaten-zum-Modelltraining-5019689.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Getting Started with 5 Essential Natural Language Processing Libraries</h2>
                        <h3>Matthew Mayo</h3>
                        <a href=https:https://www.kdnuggets.com/2021/02/getting-started-5-essential-nlp-libraries.html target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Power Up Anywhere With Our Favorite Portable Chargers</h2>
                        <h3>Scott Gilbertson</h3>
                        <a href=https:https://www.wired.com/gallery/best-portable-chargers-power-banks/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>World Class: The Story of Aidan Roberts' Bouldering Breakthrough</h2>
                        <h3>Climbing Staff</h3>
                        <a href=https:https://www.climbing.com/videos/world-class-the-story-of-aidan-roberts-bouldering-breakthrough/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The North Face Puts the Latest Road Running Tech on the Trail</h2>
                        <h3>Adrienne So</h3>
                        <a href=https:https://www.wired.com/story/the-north-face-flight-vectiv-trail-running-shoe/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Qué y quien me impactó en 2020</h2>
                        <h3>Isra Garcia</h3>
                        <a href=https:https://isragarcia.es/personas-y-experiencias-que-me-impactaron-2020/ target='_blank' class="btn-article">See More</a>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
