<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tailor</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Tailor -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>Machine Learning: TensorFlow-Projekt verwaltet Metadaten zum Modelltraining</h2>
                        <h3>Rainald Menge-Sonnentag</h3>
                        <a href=https://www.heise.de/news/Machine-Learning-TensorFlow-Projekt-verwaltet-Metadaten-zum-Modelltraining-5019689.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The North Face Puts the Latest Road Running Tech on the Trail</h2>
                        <h3>Adrienne So</h3>
                        <a href=https://www.wired.com/story/the-north-face-flight-vectiv-trail-running-shoe/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>heise-Angebot: Online-Intensivkurs: Deep Learning mit TensorFlow und Keras</h2>
                        <h3>Oliver Diedrich</h3>
                        <a href=https://www.heise.de/news/Online-Intensivkurs-Deep-Learning-mit-TensorFlow-und-Keras-5026264.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>GM launches new logo to show its serious about its electric future</h2>
                        <h3>Kirsten Korosec</h3>
                        <a href=http://techcrunch.com/2021/01/08/gm-launches-new-logo-to-show-its-serious-about-its-electric-future/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Tokyo 2020 chief Mori makes sexist remarks at Games meeting-newspaper - Reuters</h2>
                        <h3>Reuters Staff</h3>
                        <a href=https://www.reuters.com/article/us-olympics-2020-mori-idUSKBN2A324S target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Montreal weather: Frosty and windy - Montreal Gazette</h2>
                        <h3>Montreal Gazette</h3>
                        <a href=https://montrealgazette.com/news/local-news/montreal-weather-frosty-and-windy target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Astronomer Avi Loeb Says Aliens Have Visited, and He's Not Kidding</h2>
                        <h3>Lee Billings</h3>
                        <a href=https://www.scientificamerican.com/article/astronomer-avi-loeb-says-aliens-have-visited-and-hes-not-kidding1/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>UPDATE 1-Motor racing-Formula One postpones Australian GP, China uncertain - Reuters</h2>
                        <h3>Alan Baldwin</h3>
                        <a href=https://www.reuters.com/article/motor-f1-calendar/update-2-motor-racing-formula-one-postpones-australian-gp-china-uncertain-idUSL1N2JN0H5 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>19 Postponed Movies You Forgot to Be Excited About in 2021</h2>
                        <h3>Aisha Jordan</h3>
                        <a href=https://lifehacker.com/19-postponed-movies-you-forgot-to-be-excited-about-in-2-1846128038 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Mon Jan 04 '21 Announcement from AKIRA THE DON & JORDAN PETERSON - JBPWAVE VINYL!</h2>
                        <h3>Akira The Don</h3>
                        <a href=https://www.indiegogo.com/projects/akira-the-don-jordan-peterson-jbpwave-vinyl?c=activity target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Expectful’s new chief executive experienced the trauma she just raised millions to solve</h2>
                        <h3>Natasha Mascarenhas</h3>
                        <a href=http://techcrunch.com/2021/02/01/nathalie-walton-expectful-seed/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Mike Ling Came to America to Study Medicine. Now He Runs a Successful Fitness-Tech Company. It All Came Down to Passion.</h2>
                        <h3>Kenny Au</h3>
                        <a href=https://www.entrepreneur.com/article/362613 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Cyclisme : Thibaut Pinot passe son Tour et mise tout sur le Giro</h2>
                        <h3>Alexandre Pedro</h3>
                        <a href=https://www.lemonde.fr/sport/article/2021/01/19/cyclisme-thibaut-pinot-passe-son-tour-et-mise-tout-sur-le-giro_6066815_3242.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Adversarial attacks are a ticking time bomb, but no one cares</h2>
                        <h3>Ben Dickson</h3>
                        <a href=https://thenextweb.com/neural/2021/01/08/adversarial-attacks-are-a-ticking-time-bomb-but-no-one-cares-syndication/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>My Little Ponies Will Join the Transformers on Cybertron for a New Comic Adventure</h2>
                        <h3>James Whitbrook</h3>
                        <a href=https://io9.gizmodo.com/my-little-ponies-will-join-the-transformers-on-cybertro-1846086293 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>High Performance Computing: Intels HPC-Reference-Stack als Docker-Container</h2>
                        <h3>Niklas Dierking</h3>
                        <a href=https://www.heise.de/news/High-Performance-Computing-Intels-HPC-Reference-Stack-als-Docker-Container-5018749.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Transformers Just Shook Up Its Lore in a Wild Way</h2>
                        <h3>James Whitbrook</h3>
                        <a href=https://io9.gizmodo.com/transformers-just-shook-up-its-lore-in-a-wild-way-1845995153 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>La Stagione del Winter Triathlon è partita. I benefici del multisport sulla neve</h2>
                        <h3>Alberto Fumi</h3>
                        <a href=https://www.gazzetta.it/montagna/allenamento/02-02-2021/stagione-winter-triathlon-via-benefici-multisport-neve-400228636538.shtml target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>WTO tells U.S. to revise trade measures against South Korea - Reuters</h2>
                        <h3>Reuters Staff</h3>
                        <a href=https://www.reuters.com/article/us-usa-southkorea-trade-idUSKBN29Q24M target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>How to Pull an Effective All-Nighter, If You Have To</h2>
                        <h3>Eric Ravenscraft</h3>
                        <a href=https://lifehacker.com/how-to-pull-an-effective-all-nighter-1569813126 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
