<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tailor</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Tailor -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>How Often Should You Reboot Your Computer?</h2>
                        <h3>Joel Kahn</h3>
                        <a href=https://lifehacker.com/how-often-should-you-reboot-your-computer-1846008347 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Exclusive: China gene firm providing worldwide COVID tests worked with Chinese military - Reuters</h2>
                        <h3>Kirsty Needham</h3>
                        <a href=https://www.reuters.com/article/us-china-genomics-military-exclusive-idUSKBN29Z0HA target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Montreal weather: Frosty and windy - Montreal Gazette</h2>
                        <h3>Montreal Gazette</h3>
                        <a href=https://montrealgazette.com/news/local-news/montreal-weather-frosty-and-windy target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Missing 21-year-old California hiker died in ‘freak accident,’ family says - KRON4</h2>
                        <h3>Brittney Donovan, Liberty Zabala</h3>
                        <a href=https://www.kron4.com/news/california/missing-21-year-old-california-hiker-died-in-freak-accident-family-says/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Machine Learning: TensorFlow-Projekt verwaltet Metadaten zum Modelltraining</h2>
                        <h3>Rainald Menge-Sonnentag</h3>
                        <a href=https://www.heise.de/news/Machine-Learning-TensorFlow-Projekt-verwaltet-Metadaten-zum-Modelltraining-5019689.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Journaling Is Much More Than Keeping a Diary</h2>
                        <h3>Sam Blum</h3>
                        <a href=https://lifehacker.com/journaling-is-much-more-than-keeping-a-diary-1845986398 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Expand Your Knowledge to Help Grow Your Business and Side Hustle in 2021</h2>
                        <h3>Entrepreneur Store</h3>
                        <a href=https://www.entrepreneur.com/article/362466 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Google’s next Nest Hub could use the Pixel 4’s Soli chip for sleep tracking</h2>
                        <h3>Igor Bonifacic</h3>
                        <a href=https://www.engadget.com/google-soli-nest-hub-report-214332738.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>[Bon Plan] La nouvelle montre connectée Xiaomi Mi Watch Lite à 47 euros !</h2>
                        <h3>Gregori Pujol</h3>
                        <a href=https://www.journaldugeek.com/bon-plan/promo-montre-connectee-xiaomi-mi-lite-2/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>[Перевод] Как обучать огромные модели машинного обучения на случайных GPU</h2>
                        <h3>one-two</h3>
                        <a href=https://habr.com/ru/company/skillfactory/blog/536620/#post-content-body target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>*The Bomber Mafia*</h2>
                        <h3>Tyler Cowen</h3>
                        <a href=https://marginalrevolution.com/marginalrevolution/2021/01/the-bomber-mafia.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Ambarella Introduces CV5 High Performance AI Vision Processor for Single 8K and Multi-Imager AI Cameras - Financial Post</h2>
                        <h3>Business Wire</h3>
                        <a href=https://financialpost.com/pmn/press-releases-pmn/business-wire-news-releases-pmn/ambarella-introduces-cv5-high-performance-ai-vision-processor-for-single-8k-and-multi-imager-ai-cameras target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-graduation-cap" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Motor racing-Formula One postpones Australian and Chinese Grands Prix - Reuters</h2>
                        <h3>Reuters Staff</h3>
                        <a href=https://www.reuters.com/article/motor-f1-calendar/motor-racing-formula-one-postpones-australian-and-chinese-grands-prix-idUSL8N2JN1A1 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>The 10 biggest Netflix original movies of all time</h2>
                        <h3>Travis Clark</h3>
                        <a href=https://www.businessinsider.com/biggest-netflix-original-movies-of-all-time-by-viewership-2021-1 target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Mon Jan 04 '21 Announcement from AKIRA THE DON & JORDAN PETERSON - JBPWAVE VINYL!</h2>
                        <h3>Akira The Don</h3>
                        <a href=https://www.indiegogo.com/projects/akira-the-don-jordan-peterson-jbpwave-vinyl?c=activity target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>I did hot yoga in Thinx's new activewear</h2>
                        <h3>Anna Iovine</h3>
                        <a href=https://mashable.com/review/thinx-activewear-leotard-cycle-shorts-review/ target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Apple's Time to Walk feature will offer inspiring stories to Fitness+ subscribers</h2>
                        <h3>Steve Dent</h3>
                        <a href=https://www.engadget.com/apple-fitness-will-play-inspiring-stories-while-you-exercise-081040074.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>You can install Samsung’s latest MicroLED TVs yourself - Yahoo Movies Canada</h2>
                        <h3>Devindra Hardawar</h3>
                        <a href=https://ca.news.yahoo.com/samsung-microled-tvs-ces-160052013.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>Car Lanes to Become Bike Lanes on 2 Major New York City Bridges</h2>
                        <h3>Emma G. Fitzsimmons</h3>
                        <a href=https://www.nytimes.com/2021/01/28/nyregion/bike-brooklyn-bridge-de-blasio.html target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-biking" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="article">
                    <div class="article-content">
                        <h2>SM: Confirmations on Mandzukic arrive with Milan studying short-term deal – the latest - SempreMilan</h2>
                        <h3>None</h3>
                        <a href=https://sempremilan.com/sm-confirmations-on-mandzukic-arrive-with-milan-studying-short-term-deal-the-latest target='_blank' class="btn-article">See More</a>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
