<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link rel= "stylesheet" type= "text/css" href= " {{url_for('static',filename='styles/style.css')}} ">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>- Test -</h1>
            <div class="all-articles">
                <div class="article">
                    <div class="article-content">
                        <h2>More bouldering erosion on the Barrel underneath Steellmill Wall.</h2>
                        <h3>Ukclimbing.com</h3>
                        <a href=https://www.ukclimbing.com/photos/dbpage.php?id=360016 target='_blank' class="btn-article">See More</a>
                        
                    </div>
                </div>
                                                    
            </div>
        </div>
    </body>
</html>
